.project-section{
    text-align: center;
   
}
.links{
    text-decoration: none;
    color: darkcyan;
}
.links:hover{
    color: chartreuse;
}
@media only screen and (max-width: 600px) {
    .project-section .desc .links{
        text-align: center;
    }
    
}