.skill-section{
    border: 1px solid rgba(235, 211, 172, 0.856);
    width:600px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .skill-section{
        width:350px;
    }
    
}
@media only screen and (min-width: 600px) {
    .skill-section{
        width:465px;
    }
    
}